<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PYTHONPATH</key>
		<string>/Users/pepijndevos/hg/twemail</string>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/pepijndevos/hg/twemail</string>
	<key>Label</key>
	<string>nl.pepijndevos.twemail</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/local/bin/twistd-2.6</string>
		<string>-ny</string>
		<string>twemail.tac</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
